<section class="container search-page">
  <search-form 
    data-search-data="home_vm.searchData" 
    data-do-search="home_vm.doSearch"
    data-list="home_vm.searchList"></search-form>
  <div 
    class="search-result" 
    infinite-scroll="home_vm.onScrollPage()"
    infinite-scroll-immediate-check="false"
    infinite-scroll-distance="3"
    infinite-scroll-disabled="home_vm.scrolling"
    infinite-scroll-use-document-bottom="true">
    <list-view 
      data-list="home_vm.searchList"
      data-search-data="home_vm.searchData"
      data-on-scrolling="home_vm.onScrolling"></list-view>
  </div>
</section>