.search-page {
  .search-form {
    margin-top: 2em;
    text-align: center;
  }
  .search-result {
    margin-top: 3em;
    .result-title {}
    .result-poster {
      img {
        max-height: 300px;
      }
    }
    .result-actions {
      margin-top: 2em;
    }
  }
}