.detail-container {
  width: 45em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 8em;
  padding-right: 8em;
  .detail-actions {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .detail-item {
    margin-top: 0.5em;
  }
}